*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(137deg, #111827, #1F2937, #374151);
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    padding-top: 2rem;
    color: #ffffff;
    font-weight: 800;
    font-size: 2.25rem;
    margin: 0;
    margin-bottom: 0.06em;
}

span {
    color: #05e648;
    display: inline-block;
    font-size: 2.5rem;
}

p {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: #e8e4f4;
    text-shadow: 0px 0px 1px black;
}

hr {
    width: 100%;
    border: 1px solid #69737f;

}

.input-type {
    margin: 1.5em 0em 1em 0;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    padding: .65rem 0 .65rem 0;
    gap: .5rem;
    color: #ffffff;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.25rem;
    font-weight: 600;
    color: #05e648;
    padding: 0;
    margin: 0;
}

input[type="checkbox"] {
    accent-color: #05e648;
    cursor: pointer;
}

.container {
    background: #ffffff1a;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    max-width: 500px;
    padding: 1em;
    min-height: 100%;
    width: 100%;
    margin: 0;
}

.btn-gp {
    width: 100%;
    display: flex;
    gap: 1rem;
}

button {
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: transform 0.1s ease, background 0.2s ease;
}
button:active{
    background: #5a52d6;
    transform: scale(0.98);    
}

#gen-btn,
#reset,
#ipt {
    border: none;
    border-radius: 5px;
    padding: .625em 1.25em;
    
    margin-bottom: 1.25em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

#ipt {
    padding: .625em 1.5em;
    background-color: #ffffff;
    width: 48%;
    min-width: 145px;
    text-decoration: none;
}

#ipt:active {
    background-color: #afaeb1;
}

#gen-btn,
#reset {
    background-color: #05e648;
    color: #1c1b1bf4;
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: #403939;
}

#ipt:focus {
    outline: none;
}

.pc {
    margin-top: .8em;
    background: #273549;
    border-radius: 5px;
    color: #05e648;
    text-align: center;
    padding: .35em;
    word-break: break-all;
    display: flex;
    justify-content:center ;
    gap: 2rem;
}
.copy {
    color: #9CA3AF; 
    cursor: pointer;
    transition: color 0.3s ease;
}
.copy:active{
color: #D1D5DB;
}
.controls {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 525px) {
    h1 {
        padding: 0;
        font-size: 2.5rem;
    }

    span {
        font-size: 2.8rem;
    }

    .container {
        min-height: 0;
        padding: 1.5rem 2rem 2rem 2rem ;
        box-sizing: border-box;
        max-height: 800px;
        border: 1px solid #ffffff4d;

    }


}