*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #182848;
}

.container {
    padding: 1em;
}

.heading {
    margin-bottom: 3rem;
}

h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.75rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 100%;
    margin: 0;
}

h1 span {
    color: #05e648;
    display: inline-block;
    font-size: 2.5rem;
}

p {
    margin: 0;
    letter-spacing: .5px;
    font-size: 1rem;
    font-weight: 400;
    color: #c4c0d5;
    text-shadow: 0px 1px 2px black;
}

.input-type {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.05rem;
    display: flex;
    flex-direction: column;
    padding: .5rem 0 .5rem 0;
    gap: .5rem;
    color: #ffffff;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.2rem;
    font-weight: 500;
    color: #05e648;
    padding: 0;
}

input[type="checkbox"] {
    font-family: inherit;
    accent-color: #05e648;
    cursor: pointer;
}

hr {
    width: 100%;
    margin: 0;
    border: 1.6px solid #7e8a99;
}
#value{
 color: #ffffff;
}
#ipt {
    border: none;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 2.125em;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.input-gp {
    position: relative;
}

.input-gp p {
    opacity: .7;
    margin-bottom: 1rem;
}

#ipt {
    -webkit-appearance: none;
    height: 12px;
    accent-color: #05e648;
    cursor: pointer;
    background: linear-gradient(90deg, #ffffff1a 60%, #ffffff1a 60%);
    width: 100%;
    outline: none;
    opacity: .7;
    -webkit-transition: 0.2s;
    transition: opacity .2s;
    box-shadow: 0px 1px 2px 1px black;
}
#ipt::after {
    content: '25';
    color: #c4c0d5;
    position: absolute;
    left: 95%;
    top: 35%;
}

#ipt::before {
    content: '0';
    color: #c4c0d5;
    position: absolute;
    top: 35%;
    right: 97%;
}

#ipt::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.pc {
    text-shadow: 0px 1px 2px black;
    font-size: 1.1rem;
    margin: 1.25rem 0;
    letter-spacing: 1.25px;
    background: #ffffff1a;
    border-radius: 5px;
    color: #05e648;
    text-align: center;
    padding: .25rem;
    line-height: 150%;
    word-break: break-all;
}

.copy {
    color: #c4c0d5;
    cursor: pointer;
    transition: color 0.3s ease;
}

.copy:active {
    color: #ffffff;
}


@media (min-width: 525px) {
    .heading {
        margin-bottom: 1.75rem;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .container {
        backdrop-filter: blur(50px);
        border-radius: 5px;
        min-height: 0;
        height: 100%;
        max-width: 500px;
        padding: 1.35rem 1.5rem .5rem 1.5rem;
        box-sizing: border-box;
        max-height: 800px;
        border: 5px solid #ffffff4d;
    }
}